/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: #3e567f;
  color: #ffffff;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Name */
.name button {
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
}

/* Navigation Links */
.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  transition: color 0.3s ease;
}

.nav-links a:hover,
.nav-links a.active {
  color: #00ffff; /* Highlight color */
}


/* Responsive Styles */
@media (max-width: 768px) {
  .nav-links {
    gap: 10px; /* Reduce spacing between links */
  }

  .nav-links a {
    font-size: 16px; /* Decrease font size for smaller screens */
  }

  .navbar {
    justify-content: flex-start; /* Align logo and links closer together */
    padding: 10px 15px; /* Reduce padding on smaller screens */
  }

  .name {
    margin-right: 20px; /* Add space between logo and links */
  }
}

@media (max-width: 480px) {
  .nav-links {
    gap: 5px; /* Further reduce spacing between links */
  }

  .nav-links a {
    font-size: 14px; /* Further decrease font size */
  }
}
